.signs {
    overflow: hidden;
    background-color: #333;
}
.signs a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.signs a:hover {
    background-color: deepskyblue;
    color: deepskyblue;

}
.frames{
    overflow: hidden;
    background-color: cornflowerblue;
}
.frames a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.frames a:hover{
    background-color: chartreuse;
}
.h1{
    text-align: center;
    color: #f2f2f2;
}
.login{
    text-align: right;
}
.login a:hover{
    background-color: black;
    color: black;
}
.form-inline{
    text-align: right;
}